services:
  db:
    image: postgres:17.7
    restart: always
    environment:
      POSTGRES_PASSWORD: test1234
      POSTGRES_DB: lifelog
      POSTGRES_USER: developer
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  db-data: